*{outline:0;margin:0;box-sizing: border-box;font-family: 'Roboto', sans-serif}
html,body,app{display:block;height: 100%;overflow: auto;}


::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track {
    background-color: initial
}

::-webkit-scrollbar-thumb {
    /* border-radius: 8px; */
    background-color: #444
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4b4b4b
}

::-webkit-scrollbar-thumb:active {
    background-color: #5a5a5a
}

::-webkit-scrollbar-corner { background: #1a1a1a; }

::selection{
    background-color: #4b23ff
    /*background-color: #4b23ffcc; < less vibrant or even 88*/
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Material-Icons-Outlined.woff2") format('woff2');
}

.m-i, x, .x, i:not(notearea i){font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}


x, .x {
    z-index: 2;
    user-select: none;
    cursor: pointer;
    position: absolute;
    border-radius: 40%;
    top: 15px;
    padding: 10px;
    right: 15px;
    text-align: center;
    transition: 0.2s;
}

x:hover, .x:hover {
    background: #55555533;
    border-radius: 50%;
}

x:focus-visible, .x:focus-visible {
    outline: 1px solid #bbb;
    border-radius: 50%;
}

x:active, .x:active {
    background: #55555555;
    border-radius: 45%;
}

.btn{
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #222;
    background: #222;
    color: #bbb;
    border-radius: 8px;
    transition: .1s;
}
.btn.i{
    padding-left: 36px;
}
.btn i{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.btn:hover, .btn:focus-visible{
    border: 1px solid #333;
    background: #232323;
    color: #eee;
}

.btn:active{
    border: 1px solid #bbb;
    background: #bbb;
    color: #111;
}

input{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
}

.tooltip{
    white-space: nowrap;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: initial;
    color: #bbb;
    background-color: #11111199;
    /* border: 1px solid #555; */
    padding: 4px 8px;
    border-radius: 4px;
}
.tooltip.delayed.active{
    animation-delay: .5s;
}
.tooltip.active{
    animation-name: tooltipShow;
    animation-timing-function: ease-in-out;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes tooltipShow {
    from{
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}


mselect{
    position: relative;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    background: #222;
    border: 1px solid #333;
    padding: 8px;
    border-radius: 8px;
    padding-right: 28px;
    transition: .1s;
}
mselect:hover, mselect:focus-visible{
    border: 1px solid #555;
}
mselect:active{
    background: #555;
}
mselect i{
    position: absolute;
    top: 5px;
}


modal{
    opacity: 0;
    position: fixed;
    z-index: 29;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #00000044;
    transition: 0.3s, visibility 0s;
}

.modalElement{
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expandableBox{
    position: relative;
    cursor: pointer;
    padding: 12px;
    color: #bbb;
    border-radius: 8px;
    background-color: #050505;
    border: 2px solid #555;
    max-height: 52px;
    transition: max-height .2s; /* Weird copy btn visual glitch */
    overflow: hidden;
}
.expandableBox:focus-visible{
    border: 2px solid #bbb;
}
.expandableBox *{
    vertical-align: middle;
}

.expandableBox i:first-child{
    user-select: none;
    transition: .2s;
}
.expandableBox i:nth-child(2){
    position: absolute;
    top: 3px;
    right: 3px;
}
.expandableBox.expanded{
    max-height: 300px;
    overflow: auto;
}
.expandableBox.expanded i:first-child{
    transform: rotate(90deg);
}

.textPopupsContainer{
    position: absolute;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;

    bottom: 6px;
    width: 100%;
    z-index: 99;
}

.textPopups{
    display: inline-block;
    position: relative;
    bottom: 0;

    color: #999;
    background-color: #05050599;
    border: 2px solid #555;
    border-radius: 8px;

    padding: 6px;

    animation-name: textPopup;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.textPopups.hide{
    animation-name: textPopupReverse;
    animation-fill-mode: forwards;
}


@keyframes textPopup {
    from{
        transform: scale(0.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes textPopupReverse {
    to{
        transform: scale(0.8);
        opacity: 0;
    }
    from{
        transform: scale(1);
        opacity: 1;
    }
}


.contextMenu{
    position: absolute;
    overflow: auto;
    z-index: 50;
    
    color: #eee;
    background: #222;
    box-shadow: 1px 1px 3px #111;
    border: 1px solid #444;
    border-radius: 12px;
    
    padding: 12px;
    
    
    animation-name: contextMenu;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contextMenu.hide{
    animation-name: contextMenuReverse;
    animation-fill-mode: forwards;
}

@keyframes contextMenu {
    from{
        transform: translateY(-5px);
        opacity: 0;
    }
}

@keyframes contextMenuReverse {
    to{
        transform: translateY(-5px);
        opacity: 0;
    }
}
.contextMenu .drag{
    user-select: none;
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
}
.contextMenu::-webkit-scrollbar-thumb{
    border-radius: 8px;
}
.contextMenu input{
    padding: 6px 0 0 0;
    width: 100%;
    padding: 6px;
    background: #111;
    border-radius: 4px;
    border-bottom: 1px solid #444;
    transition: .1s;
}
.contextMenu input:hover{
    background: #151515;
    border-bottom: 1px solid #555;
}
.contextMenu input:focus{
    border-bottom: 1px solid #999;
}
.contextMenu de{
    display: block;
    margin: 9px 0;
    color: #999;
    font-size: 14px;
}
.contextMenu .btn, .contextMenu .text{
    color: inherit;
    background: inherit;
    border: initial;
    white-space: nowrap;
    display: block;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    padding: 8px;
    transition: .2s;
}
.contextMenu .btn:hover, .contextMenu .btn:focus-visible{
    background: #444;
}
.contextMenu .btn:active{
    color: #111;
    background: #eee;
}
.contextMenu .btn.disabled{
    pointer-events: none;
    color: #555;
    background: #222;
}
.contextMenu .text{
    color: #ddd;
    cursor: initial;
    user-select: text;
}
.contextMenu .text i{
    pointer-events: none;
    user-select: none;
}
.contextMenu .hr{
    border: 0;
    border-top: 1px solid #555;
    margin: 5px;
}
.contextMenu .extra{
    cursor: pointer;
    user-select: none;
    padding: 8px;
}
.contextMenu .extra i:last-child{
    position: absolute;
    right: 8px;
    left: initial;
    transition: .2s;
}
.contextMenu .extra:hover i:last-child{
    /* right: 6px; */
    transform: scaleX(-1)translateY(-50%);
}

.contextMenu.submenu{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-8px);
    transition: .2s, top 0s, left 0s;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 52;
    box-shadow: 1px 1px 4px 1px #111;
}

.contextMenu.submenu.visible{
    opacity: 1;
    visibility: visible;
    transform: initial;
    /* animation-name: submenuAppear;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

/* .contextMenu.submenu.hide{
    animation-name: submenuAppearReverse;
} */
/* @keyframes submenuAppear {
    from{
        opacity: .2;
        transform: translateX(-8px);
    }
    to{
        transform: initial;
    }
}
@keyframes submenuAppearReverse {
    to{
        opacity: 0;
        transform: translateX(-8px);
    }
    from{
        transform: initial;
    }
} */

.contextMenu .i{
    position: relative;
    padding-left: 36px;
}
.contextMenu .i i{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.zoneHolder{
    display: flex;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.zoneHolder div{
    transition: .2s;
}
.zoneHolder div:hover, .zoneHolder div.active{
    background-color: #05050599;
}
.zoneHolder div:nth-child(1){
    width: 40%;
    height: 100%;
}
.zoneHolder div:nth-child(2){
    pointer-events: none;
    width: 20%;
    height: 100%;
}
.zoneHolder div:nth-child(3){
    width: 40%;
    height: 100%;
}
.zoneHolder div:nth-child(4){
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
}
.zoneHolder div.active{
    width: 50%;
}
.zoneHolder div.active:nth-child(4){
    height: 40%;
    width: 100%;
}

.selectArea{
    position: absolute;
    background-color: #4b23ff66;
    border: 2px solid #4b23ff;
    z-index: 10;
    width: 100px;
    height: 100px;
}

/* md style */
input.md{
    background-color: #050505;
    border: 2px solid #555;
}