.welcome{
    z-index: 2;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 700px;
    background: #111;
    border-radius: 12px;
    padding: 12px;
}

.welcome.error{
    max-width: 400px;
    max-height: initial;
    height: initial;
}

.welcome.error .btn[data-btn='error']{
    padding: 16px;
    padding-left: 36px;
    width: calc(50% - 2px);
    margin-right: 4px;
    margin-top: 6px;
}
.welcome.error .btn[data-btn='error']:last-child{
    margin: 0;
}

.welcome.loaded{
    visibility: visible;
    animation-name: welcomeLoad;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.9, -.2, .2, 1);
}

@keyframes welcomeLoad {
    from{
        transform: translate(-50%, -50%)scale(.09); /* this originally was .9! but i forgot and i think its cool being .09 */
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.welcome.loadedAgain{
    animation-name: welcomeLoaded;
    animation-duration: 0.2s;
}

@keyframes welcomeLoaded {
    from{
        transform: translate(-50%, -50%)scale(.9);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.welcome.hide{
    visibility: visible;
    animation-name: welcomeLoadReverse;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.9, .2, .2, 1);
    animation-fill-mode: forwards;
}

@keyframes welcomeLoadReverse {
    from{
        opacity: 1;
    }
    to{
        visibility: hidden;
        transform: translate(-50%, -50%)scale(.9);
        opacity: 0;
    }
}


.welcome .logo{
    -webkit-user-drag: none;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(.35);
    filter: invert(.04);
}

.welcome .motd{
    color: #bbb;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 12px;
}

.welcome .userHalf{
    margin-left: -12px;
}
.welcome .weatherHalf{
    margin-right: -12px;
}
.welcome .weatherHalf::after{
    transition: .5s;
    opacity: 1;
}
.welcome .weatherHalf:hover::after{
    opacity: 0.3;
    background: linear-gradient(90deg, #111 0%, transparent 10%);
}
.welcome .userHalf, .welcome .weatherHalf{
    position: relative;
    padding: 12px;
    color: #ddd;
    font-size: 24px;
    width: calc(50% + 12px);
    float: left;
    height: 90px;
}
.welcome .userHalf::after, .welcome .weatherHalf::after{
    z-index: -1;
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.welcome .userHalf::after{
    background: linear-gradient(270deg, #111, #11111155);
}
.welcome .weatherHalf::after{
    background: linear-gradient(90deg, #111, transparent);
}

.welcome .userHalf img{
    vertical-align: middle;
    border: 2px solid #111;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.welcome .userHalf p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.welcome .weatherHalf img, .welcome .userHalf div{
    left: 12px;
    z-index: -2;
    position: absolute;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 90px;
    margin: -12px;
}
.welcome .weatherHalf{
    text-align: right;
    text-shadow: 1px 1px 1px #11111199;
}
.welcome .weatherHalf timed{
    position: absolute;
    right: 12px;
    top: -32px;
    padding-bottom: 12px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: translateY(32px);
    color: #111;
}
.welcome .weatherHalf:hover timed{
    color: #bbb;
    visibility: visible;
    opacity: 1;
    transform: initial;
}
.welcome .weatherHalf .extra{
    display: inline-block;
    max-width: 0px;
    opacity: 0;
    transition: .2s;
}
.welcome .weatherHalf:hover .extra{
    opacity: 1;
    max-width: 40px;
}
.welcome .weatherHalf:hover{
    text-shadow: 1px 1px 1px 2px #11111199;
}


@media screen and (max-width: 790px) {
    .welcome{
        max-height: 95%;
    }
    .welcome .userHalf, .welcome .weatherHalf{
        position: relative;
        display: block;
        width: calc(100% + 24px);
        margin-left: -12px;
        min-height: 90px;
        float: initial;
        height: initial;
    }
    .welcome .userHalf p{
        margin: 0;
    }
}

.welcome .notesSide{
    margin-top: 128px;
    height: calc(100% - 186px);
}
.headerDropdown.welcome .notesSide{
    margin-top: 60px;
}

.welcome .notesSide .top{
    width: 100%;
    margin-bottom: 12px;
}

.welcome .notesSide .top p{
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    /* color: #bbb;
    background: #222; */
    border-radius: 12px;
    padding: 12px;
    font-size:  18px;
    vertical-align: middle;
    height: 45px;
    margin-right: 16px;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.9, -.2, .2, 1);
    animation-fill-mode: forwards;
    transition: .1s;

    padding-left: 36px;
}

/* .welcome .notesSide .top p, .welcome .notesSide .top i{
    vertical-align: middle;
} */
/* .welcome .notesSide .top i{
    position: absolute;
    left: 12px;
    transform: translateY(-2px);
} */

.welcome .notesSide .top .usageElement{
    position: relative;
    display: inline-block;
    background-color: #222;
    color: #bbb;
    padding: 12px;
    border-radius: 12px;
    width: 200px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}


.welcome .notesSide .top .usageElement::before{
    content: ' ';
    position: absolute;
    left: 12px;
    bottom: 6px;
    background-color: #444;
    width: calc(100% - 24px);
    height: 4px;
    border-radius: 99px;
}
.welcome .notesSide .top .usageElement::after{
    content: ' ';
    position: absolute;
    left: 12px;
    bottom: 6px;
    background: var(--gradient);
    /* width: calc(var(--size) - var(--size) * 13.3333%); */
    width: var(--size);
    height: 4px;
    border-radius: 99px;

    animation-name: speedometerAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-direction: normal, reverse;
}

@keyframes speedometerAnimation {
    0%{
        width: var(--size);
    }
    50%{
        width: 88%;
    }
    100%{
        width: var(--size);
    }
}

.welcome .notesSide .side{
    width: 200px;
    height: 100%;
    float: left;
    padding-right: 20px;
    padding-top: 80px;
}

.welcome .notesSide .side p{
    cursor: pointer;
    user-select: none;
    color: #bbb;
    background: #222;
    border-radius: 0 12px 12px 0;
    padding: 12px;
    font-size: 20px;
    margin: 16px 0;
    margin-left: -12px;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.9, -.2, .2, 1);
    animation-fill-mode: forwards;
    transition: .1s;
}
.welcome .notesSide .side i{
    float: left;
    margin-right: 4px;
}
.welcome .notesSide .side p:hover, .welcome .notesSide .side p:focus-visible{
    background: #292929;
}
.welcome .notesSide .side p.active{
    /* background: #bbb;
    color: #111; */
    box-shadow: 2px 2px 2px #11111144; /* Should I remove the little shadow?? */
    background: #1d2933;
    color: #65baff;
}

.welcome .notesSide .side .extra .label{
    color: #bbb;
    font-size: 16px;
}
.welcome .notesSide .side .extra .label div:first-child{
    margin-bottom: 4px;
}
.welcome .notesSide .side .extra .storageLine{
    background: #333;
    width: 100%;
    height: 10px;
    border-radius: 99px;
}
.welcome .notesSide .side .extra .storageLine div{
    /* border: 3px solid #4a20bd;
    border-image: linear-gradient(to right, #4a20bd, #a320bd) 1; */
    background: linear-gradient(to right, #4a20bd, #a320bd);
    width: 65%;
    height: 10px;
    border-radius: 99px;
}
.welcome .notesSide .side .extra{
    overflow: hidden;
    padding: 0;
    height: 0;
}
.welcome .notesSide .side .extra{
    width: 100%;
    border-bottom-right-radius: 12px;
    margin: -12px;
    margin-top: -16px;
    margin-bottom: 4px;
    background-color: #1d293344;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.9, -.2, .2, 1);
    animation-fill-mode: forwards;
    transition: .3s;
}
.welcome .notesSide .side .extra.active{
    background-color: #1d293399;
}
.welcome .notesSide .side .extra.hide{
    animation-name: extraActiveReverse;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(.9, -.2, .2, 1);
    animation-fill-mode: forwards;
}

.welcome.loaded .notesSide .side .extra.active{
    animation-delay: .5s;
    animation-name: extraActive;
}
.welcome .notesSide .side .extra.active.instant{
    animation-delay: initial;
    animation-duration: .3s;
}

@keyframes extraActive {
    from{
        padding: 0;
        height: 0;
    }
    to{
        padding: 12px;
        height: 100px;
    }
}
@keyframes extraActiveReverse {
    from{
        padding: 12px;
        height: 100px;
    }
    to{
        padding: 0;
        height: 0;
    }
}

.welcome.loaded .notesSide .side p:nth-child(1){
    animation-delay: 200ms;
}
.welcome.loaded .notesSide .side p:nth-child(3){
    animation-delay: 400ms;
}

.welcome .notesSide .side p.instant{
    animation-delay: initial!important;
    animation-duration: .3s;
}

.welcome.loaded .notesSide .side p{
    animation-name: sideIn;
    opacity: 0;

}

@keyframes sideIn{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.welcome .notesSide .notes{
    overflow: auto;
    float: left;
    width: 100%;
    height: 100%;
}


.welcome .notes .filters{
    display: none;
    /* coming soon, they came */
}

.welcome .notes .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    user-select: none;
    cursor: pointer;
    color: #bbb;
    background: #191919;
    border: 2px solid #191919;
    /* padding: 12px; */
    border-radius: 12px;
    float: left;
    width: 170px;
    height: 120px;
    text-align: center;
    margin: 0 8px 8px 0;
    transition: .1s;
}
.welcome .notes .note.folder{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.welcome .notes .note .title{
    padding: 4px;
    color: #eee;
    border-bottom: 1px solid #333;
}
.welcome .notes .note .description{
    padding: 4px;
    flex: 1;
    background: #121212;
}
.welcome .notes .note .info{
    padding: 12px;
    text-align: left;
    border-top: 1px solid #333;
}
.welcome .notes .note .info span:last-child{
    float: right;
    text-transform: capitalize;
}
.welcome .notes .note.selected{
    background-color: #65baff;
    color: #333;
}
.welcome .notes .note.selected .title{
    color: #111;
}
.welcome .notes .create{
    border: 1px solid #333;
    background: initial;
    padding: 12px;

    gap: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.welcome.loaded .notes .note{
    animation-name: fileAppear;
    animation-timing-function: cubic-bezier(.9, -.2, .2, 1);
    animation-delay: .1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fileAppear {
    from{
        opacity: 0;
        transform: translateX(-20px)scale(.9);
    }
    to{
        opacity: 1;
        transform: initial;
    }
}

.welcome .notes .note:hover, .welcome .notes .note:focus-visible{
    background: #222;
}

/* 
space idea
width: 100%;
margin-top: 34px;
height: 4px;
background: #0089ff;
border-radius: 99px;
background: rgb(107,99,251);
background: linear-gradient(90deg, rgba(107,99,251,1) 0%, rgba(152,36,211,1) 66%, rgba(230,47,47,1) 100%); */


.devicesSide{
    display: flex;
    gap: 5px;
    user-select: none;
    float: right;
    color: #bbb;
}

.devicesSide i{
    margin-left: -16px;
    cursor: pointer;
    background-color: #222;
    border: 2px solid #58da97;
    padding: 10px;
    border-radius: 99px;
}
.devicesSide .away{
    border: 2px solid #e4f359;
}
.devicesSide .dnd{
    border: 2px solid #F35959;
}
.devicesSide i:hover, .devicesSide i:focus-visible{
    background-color: #333;

}

.deviceInfo::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
}

.deviceInfo{
    z-index: 9;
    position: absolute;
    
    color: #eee;
    background: #222;
    box-shadow: 1px 1px 3px #111;
    border: 1px solid #444;
    border-radius: 12px;
    
    padding: 12px;


    left: 0;
    top: 0;
    min-width: 200px;
    /* height: 100px; */

    transform: translateY(8px);
    opacity: 0;
    transition: transform .2s, opacity .2s;
}
.deviceInfo.show{
    transform: initial;
    opacity: 1;
}
.deviceInfo .name{
    padding: 8px;
}
.deviceInfo .btn{
    color: inherit;
    background: inherit;
    border: initial;
    white-space: nowrap;
    display: block;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    padding: 8px;
    transition: .2s;
}
.deviceInfo .btn:hover, .deviceInfo .btn:focus-visible{
    background: #444;
}
.deviceInfo .btn:active{
    color: #111;
    background: #eee;
}
.deviceInfo .btn{
    position: relative;
    padding-left: 36px;
}
.deviceInfo .btn i{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.deviceInfo .logout{
    color: #F35959;
}

.deviceInfo .caret{
    top: -9.5px;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #444;
}
.deviceInfo .caret::after{
    content: ' ';
    top: 2px;
    left: -5px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #222;
}



.welcome .imaginery{

    position: absolute;
    /* background-color: #bbb; */
    right: 0;
    top: 0;
    width: 300px;
    height: 150%;
    /* transform: rotate(6deg); */
}

.welcome .imaginery .fill{
    position: absolute;
    background-color: #0099ff;
    width: 100%;
    height: 100%;
    left: 70px;
}

.welcome .imaginery .line{
    pointer-events: none;
    
    /* background-color: #0099ff; */
    transform: rotate(-90deg);
    height: 100%;
    width: 900px;
    top: -150px;
    left: -50px;
    position: absolute;

}

.welcome .imaginery .usageElement{
    position: absolute;
    top: 0;
    left: 80px;
}
.welcome .imaginery .top .create{
    top: 5px;
    left: 55px;   
}
.welcome .imaginery .contextMenu{
    top: 230px;
    left: 130px;
}
.welcome .imaginery .notesSide .notes .note{
    position: absolute;
    top: 400px;
    left: 40px;
}
.welcome .imaginery .notesSide .notes .create{
    position: absolute;
    top: 460px;
    left: 120px;
    z-index: 50;
}

.welcome .imaginery .usageElement, 
.welcome .imaginery .top .create,
.welcome .imaginery .contextMenu
{
    animation-name: upAndDown;
    animation-duration: 5s;
    animation-delay: 1s;
}
.welcome .imaginery .notesSide .notes .note,
.welcome .imaginery .notesSide .notes .create
{
    animation-name: fileAppear, upAndDown;
    animation-duration: 0s, 11s;
    animation-delay: 0s, 0s;
}
.welcome .imaginery .notesSide .notes .create{
    animation-duration: 0s, 14s;
}

@keyframes upAndDown {
    0%{
        transform: initial;
    }
    33%{
        transform: translateY(30px);
    }
    66%{
        transform: translateY(-10px);
    }
    100%{
        transform: initial;
    }
}

.welcome{
    color: #e9e9e9;
}

.welcome .welcomeText{
    font-size: 32px;
    margin: 60px 0 0 0;
}

.welcome .trait{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.welcome .loggedout, .welcome .label{
    display: block;
    background-color: #222;
    padding: 12px;
    border-radius: 12px;
    width: 300px;
    /* margin: 10px 0; */
}
.welcome .loggedout img{
    width: 48px;
    height: 48px;
    border-radius: 99px;
    vertical-align: middle;
}
.welcome .loggedout div{
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
}
.welcome .loggedout .logout{
    color: #F35959;
}

.welcome .label{
    display: flex;
    align-items: center;
    position: relative;
    background-color: #555;
    padding: 1px;
}
.welcome .label .text{
    position: absolute;
    left: 12px;
    pointer-events: none;
    color: #999;
    transition: .2s;
}
.welcome .label .text.hide{
    color: #555;
    background-color: #111;
    transform: translateY(-20px);
    /* opacity: 0; */
}
.welcome .label .text.hide span{
    color: #F35959;
}
.welcome .label .text span{
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 0;
    width: 300px;
    bottom: -55px;
    transition: .3s;
}
.welcome .label .text span:nth-child(2){
    bottom: -75px;
}
.welcome .label .text span:only-child{
    position: initial;
    left: initial;
    margin-left: 6px;
    width: initial;
    bottom: initial;
}
.welcome .label .text span.hide{
    transform: translateX(-6px);
    opacity: 0;
}

.welcome .label input{
    padding: 11px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background-color: #141414;
}

.welcome .loginbtn{
    text-align: center;
    width: 300px;
    margin-top: 100px;
}

.welcome .form{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0;
    gap: 8px;
    transition: .3s;
}

.welcome .form .ifnew{
    margin-top: 24px;
    font-size: 20px;
}

.welcome .form.fromright{
    transform: translateX(50px);
    opacity: 0;
}
.welcome .form.fromleft{
    transform: translateX(-50px);
    opacity: 0;
}

.welcome .QRContainer{
    position: absolute;
    text-align: center;

    right: 300px;
    top: 100px;
}
.welcome .QRContainer .loader {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 130px;
    height: 48px;
    display: inline-block;
    background: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000 100%), linear-gradient(45deg, #000 25%, white 25%, white 75%, #000 75%, #000 100%);
    font-size: 10px;
    background-size: 32px 32px;
    box-sizing: border-box;
    animation: raceBoard 0.6s linear infinite;
    background-position: 0 0, 16px 16px;
}
      
@keyframes raceBoard {
    0% {
        background-position: 0 0, 16px 16px;
    }
    100% {
        background-position: 32px 0px, 48px 16px;
    }
}

@media screen and (max-width: 990px) {
    .welcome .QRContainer{
        top: initial;
        right: initial;
        bottom: 200px;
    }
}
.welcome .QR{
    image-rendering: pixelated;
    border-radius: 6px;
    display: inline-block;
    border: 6px solid #fff;
}

@media screen and (max-width: 790px) {
    .welcome .imaginery{
        left: 0;
        top: initial;
        bottom: 0;
        width: 100%;
        height: 100px;
    }

    .welcome .imaginery .fill{
        width: 100%;
        height: 100%;
        left: 0;
    }

    .welcome .imaginery .line{
        transform: initial;
        height: 100%;
        width: 900px;
        top: -200px;
        left: -50px;

    }

    .welcome .imaginery .usageElement{
        position: absolute;
        top: 0;
        left: 80px;
    }
    .welcome .imaginery .top .create{
        top: 5px;
        left: 55px;   
    }
    .welcome .imaginery .contextMenu{
        top: 230px;
        left: 130px;
    }
    .welcome .imaginery .notesSide{    
        margin-top: initial;
        height: initial
    }
    .welcome .imaginery .notesSide .notes .note{
        position: absolute;
        top: -25px;
        left: 300px;
    }
    .welcome .imaginery .notesSide .notes .create{
        top: 0;
        left: 500px;
    }
}